#register-wrapper{
	margin-bottom: 10px;
	position: relative;
	background-image: url("/images/buttons.svg");
	background-color: d3d3d3;
	background-repeat: repeat;
	background-size: 400px;
	height: fit-content;
	height: -webkit-fill-available;
}

#register-wrapper h2.titles{
	margin-left: 10px;
}

#register-wrapper .row{
	padding: 5px 0;
}

#register-wrapper .row label{
	display: inline-block;
	width: 140px;
	text-align: right; margin-right: 10px;
}

#register-wrapper .checkbox-row{
	padding-left: 153px;
}

#register-wrapper .checkbox-row label{
	text-align: left;
	width: auto;
}

#register-wrapper .checkbox-row label input{
	margin: 2px 5px 0 0;
}

#register-wrapper .redButton{
}

#login-wrap, #new-account{
	width: 40%;
	float: left;
	margin-left: 5%;
	margin-bottom: 80px;
	margin-top: 20px;
	background : rgba(255,255,255,0.95);
	box-shadow: 0 0 20px #000;
	padding: 15px
}

.btn-primary{
	height: 40px !important;
	border-radius: 3px;
}

#mainmnu{
	  background: #09f780; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #09f780 , #10deef); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #09f780 , #10deef); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #09f780 , #10deef); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #09f780 , #10deef); /* Standard syntax */
}

#newaccount #recaptcha_widget_div{
	float: left;
	margin-left: 147px;
}

#newaccount .message{
	margin-left: 10px;
	margin-right: 10px;
}

/*register*/
#new-account .input, #login-wrap .input {
	height: 40px;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.3);
	font-size: 18px;
}

#new-account .row, #login-wrap .row {
	margin: 5px;	
}
